<div class="container">
  <h1>Media Home</h1>
  <div class="row">
    <ul>
      <% media.forEach(medium => { %>
        <div class="col s4" id="<%= medium.id %>">
          <div class="voteContainer">
            <a href="/media/<%= medium.id %>">
            <img id="image" src="<%= medium.images %>"/>
            </a>
            <p class="upVote" data-target="<%= medium.id %>"></p>
            <p class="textScore" id="<%= medium.id %>score">
            <%= medium.score %></p>
            <p class="downVote" data-target="<%= medium.id %>"></p>
          </div>
        </div>
        <% }); %>
      </ul>
    </div>
  </div>
